<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%- include ('../navmenu.ejs') %>
<h1><%= pageTitle %></h1>
<p>Welcome to <%= pageTitle %> Admin pages</p>
<a href="admin/productCreationForm">Create New Product</a><br>
<a href="admin/products">Product Operations</a>
</body>
</html>
