<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <style>
#productCreationForm div{
    padding:10px
}
    </style>
</head>
<body>
<%- include ('../navmenu.ejs') %>
<h1><%= pageTitle %></h1>
<p>Welcome to <%= pageTitle %> Test page</p>
<form action="productCreate"
      id="productCreationForm"
      name="productCreationForm"
      method="post"
      enctype="multipart/form-data"
      style="margin:auto;width:400px;display:flex;flex-direction: column;flex-wrap: wrap"
      >
    <div>Product name: <input type="text" name="productName" ></div>
    <div>Product price: <input type='number' name="productPrice" step='0.01' value='0.00' placeholder='0.00'></div>
    <div>Product image: <input type="file" name="productImage"  id="productImage" ></div>
    <div>Product description: <input type="textarea" name="productDescription" ></div>
    <div><img id="newImage" src="" alt="" style="width: 250px;"></div>
    <div><button type="submit" style="width:250px">CREATE Product</button></div>
    <div id="message"></div>
</form>
<script>
    //
    document.getElementById('productImage').addEventListener('change',function(){
        let reader = new FileReader();
        reader.addEventListener('load',(e)=>{
            document.getElementById('newImage').setAttribute('src',e.target.result)
        });
        reader.readAsDataURL(this.files[0]);
    })
    //
   document.querySelector('#productCreationForm').addEventListener('submit', async (event)=>{
        event.preventDefault();
        let productCreationForm = document.getElementById('productCreationForm');
         let formData = new FormData(productCreationForm);
        let createProductRequest = await fetch(productCreationForm.action,{
            method:'POST',
            body:formData,
            headers:{
                Authorization:'Bearer '+ localStorage.getItem('token')
            }
        })
            .then(res=>{
            return res.json()
        })
            .then(res=>{
                document.getElementById('message').innerHTML = res.message;
                setTimeout(()=>{
                    document.getElementById('message').innerHTML ='';
                },3000)
                productCreationForm.reset();
            })
            .catch(err=>{
            console.log(err)
        })
    })
</script>
</body>
</html>
