<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/asset_images/favicon.ico">
  </head>
  <body>
  <%- include('../views/navmenu.ejs',{pagePath:pagePath}) -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> Test page</p>
  </body>
</html>
