<link rel="stylesheet" href="/stylesheets/navmenu.css">

<div class="topnav" id="myTopnav">
    <a href="/admin" class="active">Admin Pages</a>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/signin">Sign In</a>

</div>
